@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6M0.eot)/*tpa=http://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6M0.eot*/;
}
