@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/Avenir/avenirnextregular.ttf)/*tpa=http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot*/;
}
